<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="description" content="{{meta_description}}">
    	<title>{{meta_title}}</title>
    	<link type="text/css" href="https://cdn.bootcss.com/normalize/3.0.3/normalize.css">
    	<style type="text/css">
			body{
				font-size: 18px;
			    line-height: 1.5;
			    font-family: 'PT serif',\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,Microsoft Yahei,Hiragino Sans GB,sans-serif;
			    color:#242424;
			}
			ul{
				margin:0;
				padding:0;
				list-style:none;
			}
			a{
				text-decoration:none;
				color:#242424;
			}
			header{
				text-align: center;
				padding-top:80px;
			}
			.avatar{
				height:150px;
				width:150px;
				margin:0 auto;
				-webkit-border-radius:50%;
				-moz-border-radius:50%;
				border-radius:50%;
			}
			.navbar	ul{
				font-size:0;
			}
			.navbar li{
				font-size:18px;
				min-width:80px;
				display:inline-block;
				text-align: center;
				padding-bottom:1px;
				margin-bottom:5px;
			}
			.navbar li:hover{
				border-bottom:1px dotted;
				padding-bottom:0;
			}
			footer{
				padding:0 20%;
				text-align:center;
			}
			.copyright{
				font-size:14px;
			}
    	</style>
    	{{ghost_head}}
	</head>
	<body>
		<div id="app">
			<header>
				<div class="avatar" style="background:url('{{@blog.logo}}') center center no-repeat;background-size:cover;"></div>
				<p>--悖论の小黑屋--</p>
				<nav class="navbar">
					<ul>
						{{#foreach @blog.navigation}}
						<li><a href="{{url}}">{{ label }}</a></li>
						{{/foreach}}
					</ul>
				</nav>
			</header>
			<router-view></router-view>
			<footer>
				<p class="copyright">Copyright © 2015 <a href="http://bitibiti.com">beilun</a> All Rights Reserved</p> 
			</footer>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script>
			var pages = {{pagination.pages}};
		</script>
		<script src="static/bulid.js"></script>
		{{ghost_foot}}
	</body>
</html>