<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="description" content="{{meta_description}}">
    	<title>{{meta_title}}</title>
    	<link href="//cdn.bootcss.com/normalize/3.0.3/normalize.min.css" rel="stylesheet">
    	<link rel="stylesheet" href="static/b.css">
    	{{ghost_head}}
	</head>
	<body>
		<div id="app">
			<header>
				<div class="avatar" style="background:url('{{@blog.logo}}') center center no-repeat;background-size:cover;"></div>
				<p>--{{@blog.title}}--</p>
				{{navigation}}
			</header>
			<router-view></router-view>
			<footer>
				<p class="copyright">Copyright © 2015 <a href="https://bitibiti.com">beilun</a> All Rights Reserved</p> 
			</footer>
		</div>
		<script>
			var pages = {{pagination.pages}};
		</script>
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="static/b.js"></script>
		{{ghost_foot}}
	</body>
</html>
